<div id="logreg-forms">
    <form class="form-reset">
        <input type="email" id="resetEmail" [formControl]="forgotEmail" class="form-control" placeholder="Email address">
        <div class="alert alert-danger"  *ngIf="(forgotEmail.touched && forgotEmail.invalid)">
            <p *ngIf="forgotEmail.errors.emailValidation || forgotEmail.errors.required">
                Invalid Email
            </p>
        </div>
        <button class="btn btn-primary btn-block mt-2" type="submit" [disabled]="!forgotEmail.valid">
            Reset Password
        </button>
        <a href="/login" id="cancel_reset">
            <i class="fa fa-angle-left"></i>
            Back
        </a>
    </form>
</div>
