<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1" style="height:400px;width:400px"><img src={{product.image}} /></div>
            <div class="tab-pane" id="pic-2" style="height:400px;width:400px"><img src={{product.imagea}} /></div>
            <div class="tab-pane" id="pic-3" style="height:400px;width:400px"><img src={{product.imageb}} /></div>
            <div class="tab-pane" id="pic-4" style="height:400px;width:400px"><img src={{product.imagec}} /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active" style="height:80px;width:80px"><a data-target="#pic-1" data-toggle="tab"><img
                  src={{product.image}} /></a></li>
            <li style="height:80px;width:80px"><a data-target="#pic-2" data-toggle="tab"><img
                  src={{product.imagea}} /></a></li>
            <li style="height:80px;width:80px"><a data-target="#pic-3" data-toggle="tab"><img
                  src={{product.imageb}} /></a></li>
            <li style="height:80px;width:80px"><a data-target="#pic-4" data-toggle="tab"><img
                  src={{product.imagec}} /></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.name}}</h3>
          
          <p class="product-description">{{product.description}}</p>
          <h4 class="price">current price: <span>Rs {{product.price}}/-</span></h4>
           <h5 class="sizes">Select Size</h5>
          <div class="form-group">
            <select class="form-control" [(ngModel)]="displayProductSize" id="size">
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
            </select>
            <div class="action">
              <button class="add-to-cart btn btn-default mt-4" type="submit"
                (click)="addToBagEventHandler(product.id,product.name,product.price,product.image,product.type)"> add to
                cart</button>
              <button class="like btn btn-default mt-4"
                (click)="wishlistEventHandler(product.id,product.name,product.price,product.image,product.type,product.imagea,product.imageb,product.imagec,product.description)"
                type="button"><span class="fa fa-heart"></span></button>
              <span *ngIf="usertype">
                <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger mt-2 ml-2">
                  Remove
                  this Item</button></span>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Do you want to remove this item?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button type="button" class="btn btn-primary" (click)="deleteProductEventHandler(product.id)">Yes Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>