<div class="container-fluid">
  <!-- header -->
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
      <nav class="navbar navbar-dark">
        <a class="navbar-brand" (click)="homePageEventHandler()">
          <img src="../../assets/Me.jpg" alt="CodeTube" alt-color="white" width="30" height="30" alt="">
        </a>
      </nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <li id="Search">
        <div class="form-group">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" placeholder="search">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      </li>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link ml-5"  routerLink="/men">Men <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link ml-5" routerLink="/women">Women<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link ml-5" routerLink="/kids">Kids <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link ml-5" routerLink="/accessories">Accessories<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link ml-5" routerLink="/offers">Offers<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item avatar d-none d-lg-block ml-5" id="Wishlist">
            <a class="nav-link" (click)="wishlistEventHandler()">
              <i class="fa fa-heart " style="color:red;" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item avatar  d-none d-lg-block ml-5" id="bag">
            <a class="nav-link" (click)="cartEventHandler()">
              <i class="fa fa-shopping-bag " style="color:white" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item avatar dropdown d-none d-lg-block ml-5  " id="dropdown">
            <a class="nav-link waves-effect waves-light" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" style="color:white" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdown">
              <a class="dropdown-item  waves-effect waves-light" href="#">My Profile</a>
              <a class="dropdown-item  waves-effect waves-light" routerLink="/login">Login/SignUp</a>
              <a class="dropdown-item  waves-effect waves-light" (click)="ordersEventHandler()">Orders</a>
              <a class="dropdown-item  waves-effect waves-light" href="#">Contact Us</a>
              <a class="dropdown-item  waves-effect waves-light" (click)="wishlistEventHandler()">Wishlist</a>
              <a class="dropdown-item  waves-effect waves-light" (click)="logoutEventHandler()">Logout</a>
            </div>
          </li>

          <li class="nav-item active d-lg-none  ml-5" id="notificationResponsive">
            <a class="nav-link" href="#">
              Wishlist
            </a>
          </li>
          <li class="nav-item active d-lg-none  ml-5" id="notificationResponsive">
            <a class="nav-link" href="#">
              My Bag
            </a>
          </li>

          <li class="nav-item active d-lg-none">
            <a class="nav-link ml-5" href="#">My Profile<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- body -->
  <div>
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->

  <footer class="mt-4">
    <div class="row bg-dark">

      <div class="col-sm-6 col-md-2 text-light  mt-4 px-5">
        <h5 class="font-weight-bold text-uppercase mb-2">About</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Privacy</a>
          </li>
          <li>
            <a href="#!">Status</a>
          </li>
          <li>
            <a href="#!">Security</a>
          </li>
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-2 text-light  mt-4 px-5">
        <h5 class="font-weight-bold text-uppercase mb-2">Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!"><i class="fa fa-twitter" style="font-size:36px; color:white"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fa fa-instagram" style="font-size:36px;color:red"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fa fa-google-plus-square" style="font-size:36px;color:green"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fa fa-facebook-square" style="font-size:36px;"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-4 text-light mt-4 px-5">
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i> Bhopal, 462039, India</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i>jaloreeshaily@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i>+91 957585196</p>
          </li>
          <li>
            <p>
              <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 bg-dark mt-2 mb-2 pr-4">
        <form action="/action_page.php" style="background-color: rgba(0,250,154,0.2) ; border: 1px solid black">
          <div class="form-group mt-4 ml-4 mr-4">
            <input type="name" class="form-control" id="name" placeholder="Enter Name" name="name">
          </div>
          <div class="form-group mt-4 ml-4 mr-4">

            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group ml-4 mr-4">
            <input type="textarea" class="form-control" id="reply" placeholder="Leave a Reply" name="reply">
          </div>
          <button type="submit" class="btn ml-4 mb-3"
            style="background-color: rgb(205,92,92) ; border: 1px solid black">Send</button>
        </form>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Melange </a>
    </div>
  </footer>
</div>