<main class="mt-1 pt-1">
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card">
          <form class="card-body" [formGroup]="checkoutForm">
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="text" id="firstName" #firstName class="form-control" formControlName="name">
                  <label for="firstName" class="">First name</label>
                  <div
                    *ngIf="checkoutForm.get('name').errors?.required && (!checkoutForm.get('name').pristine||checkoutForm.get('name').touched)"
                    style="color: red;">
                    <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
                  </div>
                </div>

              </div>
              <div class="col-md-6 mb-2">
                <div class="md-form">
                  <input type="text" id="lastName" #lastName class="form-control">
                  <label for="lastName" class="">Last name</label>
                </div>
              </div>
            </div>
            <div class="md-form mb-1">
              <input type="text" id="address" formControlName="address" #address1 class="form-control"
                placeholder="1234 Main St">
              <label for="address" class="">Address</label>
              <div
                *ngIf="checkoutForm.get('address').errors?.required && (!checkoutForm.get('address').pristine||checkoutForm.get('address').touched)"
                style="color: red; padding-top:1px; margin-top:0px ;">
                <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
              </div>
            </div>
            <div class="md-form mb-1">
              <input type="text" id="address-2" #address2 class="form-control" placeholder="Apartment or suite">
              <label for="address-2" class="">Address 2 (optional)</label>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>India</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>MP</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="zip">Zip</label>
                <input formControlName="zip" type="text" class="form-control" #zip id="zip" placeholder="" required>
                <div
                  *ngIf="checkoutForm.get('zip').errors?.required &&  (!checkoutForm.get('zip').pristine||checkoutForm.get('zip').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
                </div>
                <div
                  *ngIf="checkoutForm.get('zip').errors?.pattern && (!checkoutForm.get('zip').pristine||checkoutForm.get('zip').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Invalid</h6>
                </div>
              </div>
            </div>
            <hr>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" value="Credit card" name="paymentMethod" type="radio" class="custom-control-input"
                  checked required>
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" #cardName formControlName="cardName" class="form-control" id="cc-name" placeholder=""
                  required>
                <small class="text-muted">Full name as displayed on card</small>
                <div
                  *ngIf="checkoutForm.get('cardName').errors?.required &&  (!checkoutForm.get('cardName').pristine||checkoutForm.get('cardName').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" #cardNumber class="form-control" formControlName="number" id="cc-number"
                  placeholder="" required>
                <div
                  *ngIf="checkoutForm.get('number').errors?.required &&  (!checkoutForm.get('number').pristine||checkoutForm.get('number').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
                </div>
                <div
                  *ngIf="checkoutForm.get('number').errors?.pattern && (!checkoutForm.get('number').pristine||checkoutForm.get('number').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Invalid</h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" formControlName="date" #cardExpiration id="cc-expiration"
                  placeholder="" required>
                <div
                  *ngIf="checkoutForm.get('date').errors?.required &&  (!checkoutForm.get('date').pristine||checkoutForm.get('date').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
                </div>
                <div
                  *ngIf="checkoutForm.get('date').errors?.pattern && (!checkoutForm.get('date').pristine||checkoutForm.get('date').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Invalid</h6>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="password" formControlName="CVV" #cardCVV class="form-control" id="cc-cvv" placeholder=""
                  required>
                <div
                  *ngIf="checkoutForm.get('CVV').errors?.required &&  (!checkoutForm.get('CVV').pristine||checkoutForm.get('CVV').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Required</h6>
                </div>
                <div
                  *ngIf="checkoutForm.get('CVV').errors?.pattern && (!checkoutForm.get('CVV').pristine||checkoutForm.get('CVV').touched)"
                  style="color: red; padding-top:1px; margin-top:0px ;">
                  <h6 style="margin-top:0px; padding-top:0px;"> Invalid</h6>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" [disabled]="!checkoutForm.valid" type="submit"
              (click)="checkoutEventHandler(firstName.value,lastName.value,zip.value,address1.value,address2.value,cardNumber.value,cardName.value,cardCVV.value)">Continue
              to checkout</button>
          </form>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{cartArray.length}}</span>
        </h4>
        <ul class="list-group mb-3 z-depth-1">
          <div *ngFor="let cart of cartArray">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{cart.name}}</h6>
                <small class="text-muted"> Size - {{cart.size}} </small>
                <small class="text-muted"> Quantity - {{cart.quantity}} </small>
                <small class="text-muted"> Price - {{cart.price}}</small>
              </div>
              <span class="text-muted">{{cart.size}}</span>
            </li>
          </div>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (Including 18% GST) </span>
            <strong>{{GSTprice}}</strong>
          </li>
        </ul>
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>