<div class="container-fluid">
    <div id="demo" class="carousel slide mt-4 mb-4" data-ride="carousel" style="border: 2px solid black">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ol>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/carousel1.JPG" alt="Deals" style=" height: 300px; ">
            </div>
            <div class="carousel-item">
                <img src="../../assets/carousel2.JPG" alt="Deals" style=" height: 300px;">
            </div>
            <div class="carousel-item">
                <img src="../../assets/carousel3.JPG" alt="Deals" style=" height: 300px;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div class="container">

    <h3>Deals of The Day</h3>
    <div class="row">
        <div class="card-deck mt-4">
            <div class=" col-md-3 col-sm-12">
                <div class="card border border-9 border-dark" style="background-color: rgb(0,250,154)">
                    <img class="card-img-top img-fluid border border-3 border-dark" src="../../assets/deal1.JPG"
                        alt="Card image cap" style="height: 180px;">
                    <div class="card-body">
                        <h5 class="card-title">Gift With Purchase</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="card border border-9 border-dark" style=" background-color:rgb(216,191,216) ">
                    <img class="card-img-top img-fluid border border-3 border-dark" src="../../assets/deal2.JPG"
                        alt="Card image cap" style="height: 180px;">
                    <div class="card-body">
                        <h5 class="card-title">Buy 1 Get 1</h5>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="card border border-9 border-dark" style=" background-color:   rgb(244,164,96)">
                    <img class="card-img-top img-fluid border border-3 border-dark" src="../../assets/deal3.JPG"
                        alt="Card image cap" style="height: 180px;">
                    <div class="card-body">
                        <h5 class="card-title">Min 30% off</h5>

                    </div>
                </div>
            </div>

            <div class=" col-md-3 col-sm-12">
                <div class="card border border-9 border-dark" style="background-color: rgb(205,92,92)">
                    <img class="card-img-top img-fluid border border-3 border-dark" src="../../assets/deal4.JPG"
                        alt="Card image cap" style="height: 180px;">
                    <div class="card-body">
                        <h5 class="card-title">All under 499</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h3 class="mt-4">Trending in Indian Wear</h3>

    <div class="row">
        <div class="card-deck mt-4">
            <div *ngFor="let product of productsArray">
                <div *ngIf="product.type== 'Trending in Indian Wear'">
                    <div class=" col-md-12 col-sm-12">
                        <div class="card border border-9 border-dark" style="background-color: rgb(238, 127, 149)">
                            <img class="card-img-top img-fluid border border-3 border-dark" src={{product.image}}
                                alt="Card image cap" style="height: 180px;">
                            <div class="card-body">
                                <p class="card-title ml-4"><span style="font-weight: bold;">{{product.name}}</span> Rs
                                    {{product.price}}/-</p>
                                <p> <a><span class="fa fa-shopping-bag ml-5"></span></a><span class="fa fa-heart ml-5"
                                        style="color: red;"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Trending in Western Wear</h3>

    <div class="row">
        <div class="card-deck mt-4">
            <div *ngFor="let product of productsArray">
                <div *ngIf="product.type== 'Trending in Western Wear'">
                    <div class=" col-md-12 col-sm-12">
                        <div class="card border border-9 border-dark" style="background-color: rgb(0,250,154)">
                            <img class="card-img-top img-fluid border border-3 border-dark" src={{product.image}}
                                alt="Card image cap" style="height: 180px;">
                            <div class="card-body">
                                <p class="card-title ml-4"><span style="font-weight: bold;">{{product.name}}</span> Rs
                                    {{product.price}}/-</p>
                                <p> <a><span class="fa fa-shopping-bag ml-5"></span></a><span class="fa fa-heart ml-5"
                                        style="color: red;"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Trending in Footear</h3>
      
    <div class="row">
        <div class="card-deck mt-4">
            <div *ngFor="let product of productsArray">
                <div *ngIf="product.type== 'Trending in Footwear'">
                    <div class=" col-md-12 col-sm-12">
                        <div class="card border border-9 border-dark" style="background-color: rgb(170, 212, 240)">
                            <img class="card-img-top img-fluid border border-3 border-dark" src={{product.image}}
                                alt="Card image cap" style="height: 180px;">
                            <div class="card-body">
                                <p class="card-title ml-4"><span style="font-weight: bold;">{{product.name}}</span> Rs
                                    {{product.price}}/-</p>
                                <p> <a (click)="addToBagEventHandler(product.id,product.image,product.name,product.type,product.price)"><span class="fa fa-shopping-bag ml-5"></span></a><span class="fa fa-heart ml-5"
                                        style="color: red;"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>